name: test build action

on:
    push:
        branches:
            - develop

jobs:
    deploy:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout Code From Current Branch
              uses: actions/checkout@v2

            - name: Set execute permissions for build-zip.sh
              run: chmod +x ./bin/build-zip.sh

            - name: Build
              id: build
              uses: wpeverest/action-build@3.0.0
              with:
                generate-zip: true

            - name: Upload Artifact Zip
              uses: actions/upload-artifact@v4
              with:
                name: build-zip
                path: ./everest-forms/*.zip
